* {
    font-family: 'Courier New', Courier, monospace;
};

@media screen and (max-width: 576px) {
    header {
    background-color: thistle;
    }
    .nav-header {
    text-align: start;
    margin: 0;
    padding-left: 0;
    }
}